.cardGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columnas en cada fila */
    gap: 10px; /* Espacio entre tarjetas */
    justify-content: space-between; /* Centrar las tarjetas horizontalmente */
  }