.detail-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .izq {
    flex: 2;
    text-align: center;
    background-color: rgb(228, 239, 239);
    height: 100vh;
  }
  
  .der {
    flex: 1;
    text-align: left;
    background-color: rgb(216, 237, 237);
    height: 100vh;

  }
  
  .id {
    font-size: 18px;
  }
  
  .nombre {
    font-size: 24px;
  }
  
  .imagen {
    max-width: 100%;
  }
  
  .tipos {
    font-size: 18px;
  }
  
  .stats {
    font-size: 18px;
  }
  